.labels {
  width: 20%;
  height: 100%;
  margin-left: 5px;
  background-color: rgb(37, 37, 37);
  overflow: scroll;
  border-radius: 5px;
  min-width: 250px;
}

.display-label {
  display: flex;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 95%;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: rgb(205, 205, 205);
  text-align: center;
  cursor: pointer;
}

.display-label:hover {
  background-color: rgb(180, 180, 180);
}

.label-desc {
  display: flex;
  flex-direction: column;
}

.text {
  margin-left: 5px;
  margin-right: auto;
  margin-top: 5px;
}

.empty-text {
  margin-left: 5px;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 3px;
  color: rgb(85, 85, 85);
  font-size: 13px;
}

.id {
  margin-left: 6px;
  color: rgb(85, 85, 85);
}

.id-type-div {
  margin-top: 1px;
  display: flex;
  font-size: 13px;
  color: rgb(85, 85, 85);
}

.labels-side-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.labels-btn {
  all: unset;
  width: 30px;
  height: 30px;
  background-color: rgb(145, 145, 145);
  border-radius: 5px;
  margin-left: 5px;
  line-height: 30px;
}

.save-rename-btn {
  margin-left: auto;
}

.labels-btn:hover {
  background-color: rgb(105, 105, 105);
}

.rename-input {
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgb(205, 205, 205);
  width: 70%;
  height: 30px;
  font-size: 16.5px;
  margin-left: -20px;
  margin-right: auto;

}

.title {
  color: rgb(201, 200, 200);
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.title-btn {
  display: flex;
  justify-content: space-between;
}

.close-labels-btn {
  all: unset;
  width: 45px;
  height: 30px;
  font-size: 13px;
  color: rgb(201, 200, 200);
  cursor: pointer;
}

.no-labels {
  font-size: 16px;
  color: rgb(88, 88, 88);
  margin-top: 0px;
  margin-left: 10px;
}