.toolbar {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80px;
  min-width: 80px;
  background-color: rgb(37, 37, 37);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  overflow: scroll;
}

.toolbar button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 40px;
  min-width: 60px;
  min-height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.toolbar button:hover {
  background-color: rgb(50, 50, 50);
}

.selector-button:hover {
  background-color: rgb(50, 50, 50) !important;
}

#name-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.toolbar label {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 13px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.toolbar hr {
  width: 35px;
  margin-top: 20px;
  border: 1px solid rgb(63, 63, 63);
}

.popup-content {
  margin: auto;
  margin-top: -5px;
  margin-left: 10px;
  background: rgb(219, 219, 219);
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid darkgray;
}

.popup-arrow {
  color: rgba(219, 219, 219, 1);
}

[role='tooltip'].popup-content {
  width: 230px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.set-name-btn {
  all: unset;
  font-size: 15px;
  width: 100px;
  height: 30px;
  background-color: rgb(150, 150, 150);
  text-align: center;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}

#ann-name {
  margin-top: 3px;
  width: 160px;
}