.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(37, 37, 37);
}

.footer-btns {
    display: flex;
    position: absolute;
    right: 0;
}

.footer button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;

    width: 40px;
    height: 30px;
    cursor: pointer;
    border-left: 1px solid rgb(134, 134, 134);
    background-color: inherit;
}

.footer span {
    display: flex;
    height: 30px;
    align-items: center;
}

.footer p {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;

    height: 30px;
    width: 120px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    vertical-align: middle;
    border-left: 1px solid rgb(134, 134, 134);
    color: rgb(243, 243, 243);
    background-color: inherit;
}