.navbar {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px -10px rgb(194, 194, 194);
}

#upload-btn-label {
    display: block;
    outline: none;
    border: none;
    margin: 0;
    padding: 0px;
    /* float: right; */
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 190%;
    border-radius: 5px;
    /* background-color: rgb(206, 206, 206) !important; */
    border: 1px solid lightgrey !important;
    color: lightgray;
    cursor: pointer;
}

#upload-btn-label:hover{
    background-color: rgb(78, 78, 78) !important;
}

#upload-coco-label{
    display: block;
    outline: none;
    border: none;
    margin: 0;
    padding: 0px;
    float: right;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 190%;
    border-radius: 5px;
    /* background-color: rgb(206, 206, 206) !important; */
    border: 1px solid lightgrey !important;
    color: lightgray;
    cursor: pointer;
}

#upload-coco-label-disabled{
    display: block;
    outline: none;
    border: none;
    margin: 0;
    padding: 0px;
    float: right;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 190%;
    border-radius: 5px;
    /* background-color: rgb(206, 206, 206) !important; */
    border: 1px solid rgb(67, 67, 67) !important;
    color: rgb(67, 67, 67);
    cursor: not-allowed;
}

#upload-coco-label:hover{
    background-color: rgb(78, 78, 78) !important;
}

.upload-div {
    margin-top: 1px;
    margin-left: auto;
    margin-right: 0;
}
.upload-coco-div{
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 0;
}

.coco-icon{
    filter: brightness(0) invert(0.85);
    width: 18px;
    height: 22px;
    margin-right: 6px;
}


.coco-icon-disabled{
    filter: brightness(0) invert(0.3);
    width: 18px;
    height: 22px;
    margin-right: 6px;
}

.upload-coco-text{
    margin-top: 2px;
}

.upload-text-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;

    margin-left: 10px;
    margin-right: 40px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.download-btn {
    margin-top:1px;
    background-color: rgb(173, 173, 173) !important;
    width: 150px !important;
    border: 1px solid lightgray !important;
}

.download-btn:hover{
    background-color: rgb(134, 134, 134) !important;
    border: 1px solid rgb(124, 124, 124) !important;

}

input[type="file"] {
    display: none;
}

.download-pop-content {
    padding: 20px;
    width: 350px;
} 

.download-pop-overlay{
}

.popup-download {
    display: flex;
    flex-direction: column;
}

.submit-download{
    all: unset;
    margin:  auto;
    margin-top:15px;
    padding: 2px;
    width: 150px;
    height: 35px;
    background-color: rgba(150,150,150, 0.8);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.submit-download:hover{
    background-color: rgba(120,120,120, 0.8);
}

.form-input{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 14px;
}