.workspace-container{
    display:flex;
    width:100%;
}

.workspace {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(80%);
    background-image: url('./background-annotate.jpeg');
    display: flex;
    justify-content: center; 
    align-items: center;
}

.workspace button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;

    background-color: rgb(92, 92, 92);
    opacity: 0.8;
    height: calc(100% - (40px + 30px + 10px));
    width: 30px;
    cursor: pointer;
}

.workspace button:hover {
    opacity: 0.9;
}

.next-btn {
    position: absolute;
    right: 5px;
}

.previous-btn {
    position: absolute;
    left: calc(20% + 72px);
}

.image-wrapper {
    height: calc(100% - 30px);
    width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    /* margin-left: calc( 20% + 16px); */
    border: 1px solid blue;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: 0px;
}


.hide {
    position: absolute;
    left: -9999;
    visibility: hidden;
    height: 0px;
    width: 0px;
}