.workspace {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 85px); 
    background-image: url('./background-annotate.jpeg');
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;

    background-color: rgb(92, 92, 92);
    opacity: 0.8;
    height:calc(100% - (40px + 30px + 10px));
    width: 30px;
    cursor: pointer;
}

.workspace button:hover {
    opacity: 0.9;
}

.next-btn {
    position: absolute;
    right: 5px;
}

.previous-btn{
    position: absolute;
    left:84px;
}

.drag-and-drop {
    width: 400px;
    height: 500px;
}

.workspace img {
    z-index: 100;
}

.img-display-div{
    display:flex;
    justify-content: center;
    margin: 35px;
    width: calc(100% - (80px)); 
    height: calc(100% - (70px));
}

.img-display{
    max-width: 100%;
    object-fit: contain;
    border: 2px solid red;
}

